{% extends 'base.html' %}

{% block content %}
<div class="container-table">
    <h1>Liste des équipements</h1>

    
    <div class="search-container">
        <input type="text" id="search" placeholder="Rechercher un équipement..." autocomplete="off">
        <i class="fas fa-search search-icon"></i>
    </div>

    
    <a href="{{ url_for('ajouter_equipement') }}" class="btn-ajouter">Ajouter un équipement</a>
    <a href="{{ url_for('page_prevision') }}" class="btn btn-ajouter">Prévision</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Quantité</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for eq in equipements %}
            <tr>
                <td>{{ eq.Equipement_id }}</td>
                <td>{{ eq.nom }}</td>
                <td>{{ eq.categorie }}</td>
                <td>{{ eq.quantite }}</td>
                <td>{{ eq.date_ajout }}</td>
                <td class="actions">
                    <a href="{{ url_for('modifier_equipement', equipement_id=eq.Equipement_id) }}">Modifier</a>
                    <a href="{{ url_for('supprimer_equipement', equipement_id=eq.Equipement_id) }}" onclick="return confirm('Supprimer cet équipement ?');">Supprimer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="no-data">Aucun équipement trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
document.getElementById("search").addEventListener("input", function() {
    let filter = this.value.toLowerCase();
    let rows = document.querySelectorAll("table tbody tr");

    rows.forEach(row => {
        let text = row.textContent.toLowerCase();
        if (text.includes(filter)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
    });
});
</script>



{% endblock %}

